<div class="bg-neutral100">
    <footer>
        <div class="container py-5xl py-md-xl">
            <div class="d-flex d-md-block border-b">
                <a href="index.html"><img class="pr-2xl" src="/assets/images/logo.svg" alt="Logo"></a>
                <nav class="ml-auto">
                    <ul class="nav d-flex d-md-block">
                        <li><a class="py-s mr-2xl pl-md-s" href="product.html">商品列表</a></li>
                        <li><a class="py-s pl-md-s" href="story.html">品牌故事</a></li>
                    </ul>
                </nav>
            </div>
            <div class="tac text-sm text-neutral600">
                <p>Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>