<header>
    <div class="container d-flex py-m py-sm-s">
        <a href="index.html"><img class="pr-2xl" src="/assets/images/logo.svg" alt="Logo"></a>

        <nav class="mr-auto">
            <ul class="nav d-flex">
                <li><a class="py-s mr-2xl d-md-none" href="product.html">商品列表</a></li>
                <li><a class="py-s d-md-none" href="story.html">品牌故事</a></li>
            </ul>
        </nav>
        <a class="py-s" href="login.html"><i class="bi bi-person"></i></a>
    </div>
</header>