body{
    font-family: "Noto Sans TC", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	color: $neutral-900;
}
a{
	display: block;
	text-decoration: none;
	color: $neutral-900;
    &:hover{
        color: $primary-400;
    }
}
button {
    cursor: pointer;
}

h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
}

h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

h6{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.text-sm{
    font-weight: 400;
    font-size: 14px;
}

.text-blod{
    font-weight: 500;
    font-style: medium;
}

.text-line-through{
    text-decoration: line-through;
}

.text-primary200{
    color: $primary-200;
}

.text-primary300{
    color: $primary-300;
}

.text-primary400{
    color: $primary-400;
}

.text-neutral300{
    color: $neutral-300;
}

.text-neutral500{
    color: $neutral-500;
}

.text-neutral600{
    color: $neutral-600;
}

.text-neutral900{
    color: $neutral-900;
}

.text-danger300{
    color: $danger-300;
}

.bg-primary300{
    background-color: $primary-300;
}

.p-xs{
    padding: $spacing-xs;
}
.pt-xl{
    padding-top: $spacing-xl;
}
.pr-2xl{
    padding-right: $spacing-2xl;
}
.px-s{
    padding-left: $spacing-s;
    padding-right: $spacing-s;
}
.py-s{
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
}
.py-m{
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;
}
.py-l{
    padding-top: $spacing-l;
    padding-bottom: $spacing-l;
}
.py-5xl{
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-5xl;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.mr-xs{
    margin-right: $spacing-xs;
}
.mr-l{
    margin-right: $spacing-l;
}
.mr-2xl{
    margin-right: $spacing-2xl;
}
.mb-xxs{
    margin-bottom: $spacing-xxs;
}
.mb-xs{
    margin-bottom: $spacing-xs;
}
.mb-s{
    margin-bottom: $spacing-s;
}
.mb-m{
    margin-bottom: $spacing-m;
}
.mb-xl{
    margin-bottom: $spacing-xl;
}
.my-l{
    margin-top: $spacing-l;
    margin-bottom: $spacing-l;
}
.my-xl{
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
}
.mt-3xl{
    margin-top: $spacing-3xl;
}
.mb-xl{
    margin-bottom: $spacing-xl;
}
.mb-3xl{
    margin-bottom: $spacing-3xl;
}

.gap-xs{
    gap:$spacing-xs;
}

.d-flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.tac{
    text-align: center;
}

.border-t{
    border-top: 1px solid $neutral-300;
}

.border-b{
    border-bottom: 1px solid $neutral-300;
}




.container{
    width: 1296px;
    margin: 0 auto;
}


.menu{
    width: 196px;
    
}
.productList{
    width: 1076px;
    gap: $spacing-l;
    .productCard{
        width: 31.8%;
    }
}

.pagination{
    gap: $spacing-s;
    a{
        width: 40px;
        height: 40px;
        text-align: center;
        &:hover{
            background-color: $neutral-100;
        }
    }
}
.callToAction{
    background-color: $primary-200;
    .btn{
        background-color: $neutral-900;
        color: $neutral-100;
        padding: $spacing-s $spacing-l;
        border-radius: 4px;

    }
}