.productList {

    gap: $spacing-l;

    .productCard {
        width: 31.8%;

        &:hover {
            img {
                opacity: 0.8;
            }
        }
    }
}

.pagination {
    gap: $spacing-s;

    a {
        width: 40px;
        height: 40px;
        text-align: center;

        &:hover {
            background-color: $neutral-100;
        }
    }
}

.callToAction {
    background-color: $primary-200;

    .btn {
        background-color: $neutral-900;
        color: $neutral-100;
    }
}
