// color
$primary-200: #E8FEC5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$neutral-100: #F8F9FA;
$neutral-300: #DEE2E6;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-900: #212529;
$danger-300: #D74F4F;

//spacing
$spacing-xxs:4px;
$spacing-xs:8px;
$spacing-s:12px;
$spacing-m:16px;
$spacing-l:24px;
$spacing-xl:32px;
$spacing-2xl:40px;
$spacing-3xl:48px;
$spacing-4xl:56px;
$spacing-5xl:64px;
$spacing-6xl:80px;