<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收藏 | 六角鞋子電商</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <section class="container my-5xl my-md-l">
        <div class="row fd-column aic">
            <!-- 標題 -->
            <div class="col-6 col-md-4 d-flex jcc aic">
                <img class="mr-m" src="/assets/images/Check.svg" alt="check">
                <p class="h3 h4-md">我的收藏</p>
            </div>
            <!-- 營業時間 -->
            <div class="note col-6 col-md-4 d-flex aic my-xl">
                <i class="bi bi-truck mr-s"></i>
                <p class="d-md-flex fd-md-column"><span>門市營業時間：</span><span>週一至週五 10:00 - 22:00</span></p>
            </div>
            <!-- 收藏列表 -->
            <ul class="col-6 col-md-4">
                <li class="d-flex border-b-small">
                    <img class="w-120 mr-m" src="/assets/images/product.png" alt="鞋子">
                    <div class="flex-grow-1">
                        <p class="h5 h6-md mb-xs">PLATFORM 404</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">尺寸</span>38</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">顏色</span>Navy</p>
                        <p class="h6 tar tal-md">NT$2,600</p>
                    </div>
                </li>
                <li class="d-flex border-b-small">
                    <img class="w-120 mr-m" src="/assets/images/product-4.png" alt="鞋子">
                    <div class="flex-grow-1">
                        <p class="h5 h6-md mb-xs">BOOMLOK</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">尺寸</span>38</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">顏色</span>White</p>
                        <p class="h6 tar tal-md">NT$3,200</p>
                    </div>
                </li>
                <li class="d-flex border-b-small">
                    <img class="w-120 mr-m" src="/assets/images/product-3.png" alt="鞋子">
                    <div class="flex-grow-1">
                        <p class="h5 h6-md mb-xs">MELTY KISS</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">尺寸</span>38</p>
                        <p class="text-md-sm mb-xs"><span class="text-neutral600 mr-s">顏色</span>Violet</p>
                        <p class="h6 tar tal-md">NT$4,000</p>
                    </div>
                </li>
                
                    
            </ul>
            <button type="button" class="btn-reserve">
                立即預約門市試穿
            </button>
        </div>
    </section>

    <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
</body>
</html>